# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
src/content/blog/.makemd/*
src/content/blog/.space/*
src/content/blog/.trash/*
src/content/blog/Tags/*
src/content/blog/.obsidian/*
scripts/background.js
scripts/content_Script.js
scripts/JavaScriptCulture.js
.internal/
src/content/blog/.makemd/fileCache.mdc
src/content/blog/.makemd/superstate.mdc
src/content/blog/.makemd/fileCache.mdc
src/content/blog/.obsidian/workspace.json
src/content/blog/.obsidian/plugins/make-md/Spaces.mdb
