---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
//import Layout from '../layouts/premigration_BlogPost.astro';
---

<Base meta_title="About",meta_description="Brief about me followed by a bit more information."
>
	<Page title="About Me">

	<p>
		Hello , My name is Calvin or more specifically Calvindd2f on github or Dreadytofat pretty much everywhere else. This blog is primarily for all aspects of technology I am working with as I have ben putting this on the longfinger for far to long and would enjoy reviewing projects/microprojects I've done over the years.
		I am 23 years old (or born in Dec 2000, if I forget to update this)
		<br>
		<br>
		The blog is written in Markdown but the template is Astro.
		<br>
		Obsidian is what I use for all sorts of Documentaion / Notes / Canvas / Excalidraw and has been for a very long time. It's how blog posts are created here.
		<br>
		Neovim and VSC are the main IDEs I use.
		<br>
		<br>
		I own a few domains but the ones I use primarily are 'lvin.ie' (yes, for the c@lvin.ie email), dev10ant.com, msgraph.ms/.dev and the one I was excited the most about `app-support.com`, which is likely the domain going to be hosting this blog.
	</p>

	<p>
		Though I enjoy a wide-net in terms of specific fields in tech my main passion is in Automation and overall problem solving / root cause.  
		<br>
	</p>

	<p>
		I've obtained a breath of certifications, some to assist when I first got into the field and others to help me understand concepts that have an unclear starting point.  
		<br>
		CCNA,A+,x2 of the MTAs,Security Blue Teams BTL1 and x2 of Offensive Securities foundationaly certificates PEN/SOC-100
		<br>
		<br>
		I have also obtained about 6 of the Microsoft certificates on recommendation from a manager as it would be unfortunate having the technological reach I have but not being able to at least put it on paper.
		<br>
		<br>
		The Microsoft Certificates are: AZ-104, AZ-305,SC-200,SC-400,MS-102 & the AZ-500. All are still active and I enjoyed nearly everyone of them (SC-400 was just me pressing forth despite commiting time to the more boring side of IT Security and AZ-500 was the only one I had been requested to take, which I passed about a week after being asked due to owning the AZ-104+305 before sitting this.)
	</p>
	My love of PowerShell was more in line with 'Efficiency is clever laziness' and it still remains true to this day however I had no idea how to initially approach this as I could not think of projects to do to let me learn as I go. Traditional book learning like seen in some recommendations does not work for me at all.
	<br>
	I also wanted to learn Windows on a low level for just troubleshooting knowledge so I decided to start learning powershell (After the basics) by reviewing public code samples of malicious usage. 
	<br>On top of this I downloaded (in a boxxed off VM) the powershell corpus that contained about 5+ GB worth of malicous scripts to learn the ones that were deobfusgated / not obfusgated. (Credits to person who created Invoke-Obfusgation/Invoke-CradleCrafter)
	<br>
	This somehow worked and got me looking into security a bit more as a spinoff effect.
	<br>
	<br>
	Though after quite a bit of time, this also got me learning C# as in my more performance-demanding modules, I found the fastest route was also always calling .NET methods directly from PowerShell (because it's interop with .NET due to being in C#) 
	<br>
	<br>
	This also led to me writing binary PowerShell modules because of the performance gain & being able to refactor performance quite a bit with this and other non-idiomatic ways of using powershell. Which I have book marked and is provided by Microsoft under 'PowerShell script performance considerations'
	<p>
	<br>
	<br>
	I had also went through quite the phase before all of this which was primary using Unix for a long time. (Gaming Burnout). After failing Network+ in 2020 by an amount quite close to passing (Both attempts within 20 points) I dropped CompTIA entirely as , despite this, I knew absolutely nothing about networking.
	<br>
	I had got it into my head that I could learn computer networks better by making study more passive & available on my phone. My phone supported Nethunter & I learned underlying android OS / rooting / flashing / xPosed and all that quite fast. The phone was a Xaomi Redmi Note 7 and the first and foremost thing I learned was dropping the MIUI ROM from the phone as it was the only issue (great hardware/price ratio.) I got the nethunter fork, the required hardware (overtime) which was the AR9271 Wireless adapter (well, 3 of them now), various USB-C to USB A to connect the adapters to mobile. I later opted for a mobile dock which was about 50 EURO, could support external power for multiple adapters and could support multiple wireless cards. This was, primarily to use airgeddon effectively as a single adapter could not perform DOS pursuit for evil twin attacks.
	<br>
	<br>
	A few months later after having no luck on job hunt. I entered a free course to do the CCNA as online / moodle & studied/sat/passed this in 3 months landing a job about 2 weeks afterwards.
	<br>
	<br>
	</p>
	I have about 4/5 years of old projects on my github with the more recent having a huge increase in quality. I am actively working on some of these and very passively studying for the final Microsoft exam I intend on taking, which is the AZ-400: DevOps Expert.
	<p>
	<br>
	<br>
	While every project won't be detailed here. I intend to use this to share knowledge in some of the more novel approaches I have share previously that have had significant results.
	<br>
	<br>
	Down the line I might add a new tab that contains quick reference index for problems encountered throughout my time in Admin/IT Support. This is primarily for myself as some of the tougher issues I've enjoyed solving. 
	<br>
	<br>
	That and some searches only return community microsoft answers - which tend to usually be copy pastes of other community microsoft answers and do not fix the issue. Copy paste or not the answer usually inclues the good ole DISM or SFC for good measure and any other response is just others stating that they also have the issue or those vindicating microsoft for how many others have the issue.
	<br>
	<br>
	Stack overflows great but a bit too more code oriented compared to the microsoft community stuff. The only iritation I usually get there is people reply to a post that's unanswered with 'nvm I fixxed it' but I digress.
	<br>
	<br>
	Reddit gives you opionions presented as fact & can just result in a rabbithole however from time-to-time has very useful respoonses. But often leads to distraction or irritation due to the circlejerk mentality present seen in their definition of objective/subjective depending on the up/down vote button entirely.
	<br>

		
		
	</p>

	<p>
		
	</p>
	</Page>
</Base>
