---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
//import Layout from '../layouts/premigration_BlogPost.astro';
---

<Base meta_title="About",meta_description="Brief about me followed by a bit more information."
>
	<Page title="About Me">

	<p>
		Hello , My name is Calvin or more specifically Calvindd2f on github or Dreadytofat pretty much everywhere else. This blog is primarily for all aspects of technology I am working with as I have ben putting this on the longfinger for far to long and would enjoy reviewing projects/microprojects I've done over the years.
		I am 23 years old (or born in Dec 2000, if I forget to update this)
		<br>
		<br>
		The blog is written in Markdown but the template is Astro.
		<br>
		Obsidian is what I use for all sorts of Documentaion / Notes / Canvas / Excalidraw and has been for a very long time. It's how blog posts are created here.
		<br>
		Neovim and VSC are the main IDEs I use.
		<br>
		<br>
		I own a few domains but the ones I use primarily are 'lvin.ie' (yes, for the c@lvin.ie email), dev10ant.com, msgraph.ms/.dev and the one I was excited the most about `app-support.com`, which is likely the domain going to be hosting this blog.
	</p>

	<p>
		Though I enjoy a wide-net in terms of specific fields in tech my main passion is in Automation and overall problem solving / root cause.  
		<br>
	</p>

	<p>
		I've obtained a breath of certifications, some to assist when I first got into the field and others to help me understand concepts that have an unclear starting point.
		<br>
		CCNA,A+,x2 of the MTAs,Security Blue Teams BTL1 and x2 of Offensive Securities foundationaly certificates PEN/SOC-100
		<br>
		<br>
		I have also obtained about 6 of the Microsoft certificates on recommendation from a manager as it would be unfortunate having the technological reach I have but not being able to at least put it on paper.
		<br>
		<br>
		The Microsoft Certificates are: AZ-104, AZ-305,SC-200,SC-400,MS-102 & the AZ-500. All are still active and I enjoyed nearly everyone of them (SC-400 was just me pressing forth despite commiting time to the more boring side of IT Security and AZ-500 was the only one I had been requested to take, which I passed about a week after being asked due to owning the AZ-104+305 before sitting this.)
	</p>
	</Page>
</Base>
