---
import Layout from '../layouts/premigration_BlogPost.astro';
import az500 from '/public/az500.jpg';
import all_certificates from '/public/all_certificates.jpg';
---

<Layout
	title="Certificates"
	description="Certs I have obtained throughout my career and minor thoughts on them."
	pubDate={new Date('September 3 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
		Adding all my Microsoft Certificates below as it is too much hassle to screenshot each one and then add a comment on them. 
		<br>
		To answer any questions they were [Reverse Chronological] AZ-500,AZ-305,AZ-104,SC-400,MS-102,SC-200 . <br><br>Every single one of them was hard , because Microsoft focus and give priority to the minutia, instead of realistic standards with the exceptions of the SC-400 which gives boregasms to the highest extent. I sat MS-500 twice and failed each time.
		<br>
		<img src={all_certificates.src} width={all_certificates.width} height={all_certificates.height}/>
		<br>
		Below is a URL to the MS transcript for verification purposes. <br> https://learn.microsoft.com/en-us/users/calvinbergin/transcript/dz2oefqpj6xzqx1?tab=credentials-tab
		<br>
		<br><br>
		Blue Team Level 1 (BTL1)<br>
		Security Blue Team<br>
		Issued Dec 2022<br>
		<br>
		<br><br>
		Security Operations Center - SOC-100<br>
		OffSec<br>
		Issued Dec 2022<br>
		Credential ID 64007316<br>
		<br><br><br>
		Pentesting Prerequisites - PEN-100<br>
		OffSec<br>
		Issued Oct 2022<br>
		Credential ID 59857018<br>
		
		
		<br><br><br>CCNA<br>
		Cisco<br>
		Issued Sep 2021 · Expired Sep 2024<br>
		Credential ID 07a9321b-b346-4720-8bef-e9392ef8eb6b<br>
		<br><br><br>
		CompTIA A+<br>
		CompTIA<br>
		Issued Mar 2021 · Expired Mar 2024<br>
		Credential ID 9e04a1e6-db3a-4ca3-94ff-a37b3fc69f9e<br>
		<br><br><br>
		MTA: Windows Server Administration Fundamentals - Certified 2020<br>
		Microsoft<br>
		Issued Oct 2020<br>
		Credential ID 9b225b36-56e4-415f-abe2-4be23e4b6cd7<br>
		<br><br><br>
		MTA: Windows Operating System Fundamentals - Certified 2020<br>
		Microsoft<br>
		Issued Sep 2020<br>
		Credential ID 1409976e-ce95-4389-a9f5-b02bb1d81848<br>
		<br>
		<br>
		<br>
	</p>
</Layout>
