---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
import all_certificates from '/public/all_certificates.jpg';
---

<Base meta_title='Certificates',meta_description='Certs I cert'd'>
	<Page title="Certificates">
		<p>
		Adding all my Microsoft Certificates below as it is too much hassle to screenshot each one and then add a comment on them. 
		<br>
		To answer any questions they were [Reverse Chronological] AZ-500,AZ-305,AZ-104,SC-400,MS-102,SC-200 . <br><br>Every single one of them was hard , because Microsoft focus and give priority to the minutia, instead of realistic standards with the exceptions of the SC-400 which gives boregasms to the highest extent. I sat MS-500 twice and failed each time.
		<br>
		<img src={all_certificates.src} width={all_certificates.width} height={all_certificates.height}/>
		<br>
		Below is a URL to the MS transcript for verification purposes. <br> https://learn.microsoft.com/en-us/users/calvinbergin/transcript/dz2oefqpj6xzqx1?tab=credentials-tab
		<br>
		<br><br>
		<b>
		Blue Team Level 1 (BTL1)<br>
		Security Blue Team<br>
		Issued Dec 2022<br><br></b>
		Validate by search for my name or REF: <strong>388930554</strong><br>
		https://elearning.securityblue.team/verify/check<br>
		<br>
		<p><br>
			<b>
			"status": "OK",<br>
			"results": [<br>
				"name": "Calvin bergin",<br>
				"certifications": [<br>
					"ref": "388930554",<br>
					"name": "Blue Team Level 1",<br>
					"photo": "certs\/12dde4afb16df1c23d66881b9f861069e017aca2.png",<br>
					"passed_at": "2022-12-16",<br>
					"is_revoked": false<br>
					]<br>
				],<br>
			"total": 1<br><br>
		</b>
		</p>
		<br>
		<br><br><b>
		Security Operations Center - SOC-100<br>
		OffSec<br></b>
		Issued Dec 2022<br>
		Credential ID 64007316<br>
		<br><br><br><b>
		Pentesting Prerequisites - PEN-100<br>
		OffSec<br></b>
		Issued Oct 2022<br>
		Credential ID 59857018<br>
		<br><br><br><b>CCNA<br>
		Cisco<br></b></b>
		</b>
		Issued Sep 2021 · Expired Sep 2024<br>
		Credential ID 07a9321b-b346-4720-8bef-e9392ef8eb6b<br>
		<br><br><br><b>
		CompTIA A+<br>
		CompTIA<br>
		</b>
		Issued Mar 2021 · Expired Mar 2024<br>
		Credential ID 9e04a1e6-db3a-4ca3-94ff-a37b3fc69f9e<br>
		<br><br><br>
		MTA: Windows Server Administration Fundamentals - Certified 2020<br>
		Microsoft<br>
		Issued Oct 2020<br>
		Credential ID 9b225b36-56e4-415f-abe2-4be23e4b6cd7<br>
		<br><br><br>
		MTA: Windows Operating System Fundamentals - Certified 2020<br>
		Microsoft<br>
		Issued Sep 2020<br>
		Credential ID 1409976e-ce95-4389-a9f5-b02bb1d81848<br>
		<br>
		<br>
		<br>
	</p>
	<br>
	<br>
	<h2>Microsoft Certificates Skills</h2>
	<p>
		<h3>Microsoft Certified: Azure Security Engineer Associate<h3/>

		As the Azure security engineer, you implement, manage, and monitor security for resources in Azure, multi-cloud, and hybrid environments as part of an end-to-end infrastructure. You recommend security components and configurations to protect the following:<br>
		<br>
		<br>
		- Identity and access<br>
		- Data<br>
		- Applications<br>
		- Networks<br>
		<br>
		Your responsibilities as an Azure security engineer include:<br>
		- Managing the security posture.<br>
		- Identifying and remediating vulnerabilities.<br>
		- Performing threat modelling.<br>
		- Implementing threat protection.<br>
		<br>
		You may also participate in responding to security incidents. As an Azure security engineer, you work with architects, administrators, and developers to plan and implement solutions that meet security and compliance requirements.<br>
		You should have:<br>
		- Practical experience in administration of Microsoft Azure and hybrid environments.<br>
		- Strong familiarity with compute, network, and storage in Azure and Microsoft Entra ID.<br>
		<br>
		<br>
		"skills": [<br>
		"Manage identity and access",<br>
		"Secure networking",<br>
		"Secure compute, storage, and databases",<br>
		"Manage security operations"<br>
		]<br>
<br>
-----------------------------------------------

		<h3>Microsoft 365 Certified: Administrator Expert</h3>
		You’re an administrator who deploys and manages Microsoft 365 and performs Microsoft 365 tenant-level implementation and administration of cloud and hybrid environments.<br>
		As a Microsoft 365 administrator, you:<br><br>
		- Function as the integrating hub for all Microsoft 365 workloads.<br>
		- Coordinate across multiple Microsoft 365 workloads.<br>
		- Work with architects and other administrators responsible for workloads, infrastructure, identity, security, compliance, endpoints, and applications.<br><br>

		- Networking<br>
		- Server administration<br>
		- DNS<br>
		- PowerShell<br>
<br>
		"skills": [<br>
			"Deploy and manage a Microsoft 365 tenant",<br>
			"Implement and manage Microsoft Entra identity and access",<br>
			"Manage security and threats by using Microsoft Defender XDR",<br>
			"Manage compliance by using Microsoft Purview"<br>
		],<br>
<br>
<br>
		-----------------------------------------------
<br>
		<h3>Microsoft Certified: Security Operations Analyst Associate</h3>
		You reduce organizational risk by:<br>
		- Rapidly remediating active attacks in the environment.<br>
		- Advising on improvements to threat protection practices.<br>
		- Referring violations of organizational policies to appropriate stakeholders.<br>
		You perform:<br>
<br>
		- Triage.<br>
		- Incident response.<br>
		- Vulnerability management.<br>
		- Threat hunting.<br>
		- Cyber threat intelligence analysis.<br>
<br>
		As a Microsoft security operations analyst, you monitor, identify, investigate, and respond to threats in multicloud environments by using:<br>
		- Microsoft Sentinel<br>
		- Microsoft Defender for Cloud<br>
		- Microsoft 365 Defender<br>
		- Third-party security solutions<br>
<br>
		In this role, you collaborate with business stakeholders, architects, identity administrators, Azure administrators, and endpoint administrators to secure IT systems for the organization.<br>
		As a candidate, you should be familiar with:<br>
		- Microsoft 365<br>
		- Azure cloud services<br>
		- Windows and Linux operating systems<br>
<br>
		"skills": [<br>
			"Mitigate threats by using Microsoft 365 Defender",<br>
			"Mitigate threats by using Defender for Cloud",<br>
			"Mitigate threats by using Microsoft Sentinel"<br>
		],<br>
<br>
		-----------------------------------------------
		<br>
		<h3>Microsoft Certified: Azure Solutions Architect Expert</h3>
		As a Microsoft Azure solutions architect, you have subject matter expertise in designing cloud and hybrid solutions that run on Azure, including:<br>
		- Compute<br>
		- Network<br>
		- Storage<br>
		- Monitoring<br>
		- Security<br>
<br>
		Your responsibilities for this role include advising stakeholders and translating business requirements into designs for Azure solutions that align with the Azure Well-Architected Framework and Cloud Adoption Framework for Azure. In this role, you implement solutions on Azure by partnering with various other job roles, including:<br>
		- Developers<br>
		- Administrators<br>
		- Security engineers<br>
		- Data engineers<br>
		As a candidate for this certification, you should have advanced experience and knowledge of IT operations, including networking, virtualization, identity, security, business continuity, disaster recovery, data platforms, and governance. You should manage how decisions in each area affect an overall solution. In addition, you should have experience with:<br>
		- Azure administration<br>
		- Azure development<br>
		- DevOps processes<br>
<br>
		"skills": [<br>
			"Design identity, governance, and monitoring solutions",<br>
			"Design data storage solutions",<br>
			"Design business continuity solutions",<br>
			"Design infrastructure solutions"<br>
		],<br>
<br>
		-----------------------------------------------
<br>
<br>
		<h3>Microsoft Certified: Information Protection and Compliance Administrator Associate</h3>
		As an information protection and compliance administrator, you plan and implement risk and compliance controls in the Microsoft Purview compliance portal.<br>
		In this role, you translate an organization’s risk and compliance requirements into technical implementation.<br>
<br>
		- You’re responsible for implementing and managing solutions for content classification, data loss prevention (DLP), information protection, data lifecycle management, records management, privacy, risk, and compliance.<br><br>
		- You work with other roles that are responsible for governance, data, and security to evaluate and develop policies to address an organization’s risk reduction and compliance goals. <br><br>
		- You assist workload administrators, business application owners, human resources departments, and legal stakeholders to implement technology solutions that support the necessary policies and controls.<br><br>
<br>
		You should have experience with Microsoft 365 services, including:<br>
		- Microsoft 365 Apps<br>
		- Microsoft Exchange Online<br>
		- Microsoft SharePoint<br>
		- Microsoft OneDrive<br>
		- Microsoft Teams<br>
<br>
		You should also be familiar with PowerShell.<br><br>
		"skills": [<br>
			"Implement information protection",<br>
			"Implement DLP",<br>
			"Implement data lifecycle and records management",<br>
			"Monitor and investigate data and activities by using Microsoft Purview",<br>
			"Manage insider and privacy risk in Microsoft 365"
		],<br>
		<br>
		<br>
		<br>
	</p>
	</Page>
</Base>

