---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Certificates"
	description="Certs I have obtained throughout my career and minor thoughts on them."
	pubDate={new Date('August 30 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		
	</p>
</Layout>
