---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
//import Layout from '../layouts/premigration_BlogPost.astro';
---

<Base meta_title="Resume" ,meta_description="Website copy of my CV.">
		<Page title="CV">
			<p>
				Some of more unessessary information redacted/witheld. Can be request full copy on LinkedIn.
			</p>
		</Page>
	</Base>
</Base>
