---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
//import Layout from '../layouts/premigration_BlogPost.astro';
---

<Base meta_title="Resume" ,meta_description="Website copy of my CV.">
		<br title="CV">
			<p>
				Some of more unessessary information redacted/witheld. Can be request full copy on LinkedIn.
			</p>
			<br>
		</br>
		<p>
			Skills:<br><br>
			Git(git usage and commands)<br>
			Azure DevOps (configuration and Admin)<br>
			<br>
			PowerShell (create , manage and maintain)<br>
			C# / Python (Jinja,Mojo) , few other development languages.<br>
			Zig (as drop in compiler)<br>
			Golang (insofaras creating custom Terraform providers.)<br>
			Ansible Playbook & role development<br>
			Terraform (Infrastructure as code)-pipeline creation and maintenance of pipeline<br>
			YAML (creating and updating scripts, ansible, previous management of an RPA solution which utilized a DSL for IT automation.)<br>
			SonarQube (configuration and integration) (Datacenter Edition)<br>
			Docker / General Containerization<br>
		</p>
		<br><br>
		<p>
			Significant experience with Azure and AWS.
			<br><br>
			Develop and implement: Collaborate with cross-functional teams to design, implement, and maintain a robust DevOps framework that promotes continuous integration, delivery, and deployment.
			<br><br>
			Infrastructure management: Design, build, and manage the infrastructure and configuration management systems required for efficient software development and deployment, including cloud platforms, servers, networks, and monitoring tools.<br><br>

			Continuous integration and deployment: Establish and maintain automated build, test, and deployment processes to ensure efficient and reliable software releases.<br><br>

			Collaboration and communication: Foster collaboration and effective communication between development, operations, and other stakeholders to ensure smooth and efficient software delivery.<br><br>

			Security and compliance: Implement and maintain security measures and best practices throughout the development and deployment process, ensuring compliance with relevant regulations and industry standards.<br><br>

			Automation and optimization: Identify opportunities for automation and process improvements, and implement tools and technologies to streamline operations, enhance productivity, and reduce manual efforts.<br><br>

			Documentation and knowledge sharing: Create and maintain documentation, guidelines, and standard operating procedures (SOPs) to ensure proper knowledge transfer.<br><br>

			Cloud experience: Hands-on experience with cloud platforms (e.g., AWS & Openstack ) and a solid understanding of cloud-based architectures, services, and deployment models.<br>

			System administration: Familiar with Linux/Windows Operating systems and the likes of shell scripting<br><br>
			Problem-solving and analytical skills: Ability to analyse complex technical problems, identify root causes, and propose effective solutions in a timely manner.<br><br>

			Collaboration and communication: Strong teamwork and communication skills to collaborate effectively with cross-functional teams, stakeholders, and clients.
		</p>
			<p>
				<br>
				Here is the stack used:<br><br>
				Azure<br>
				GCP<br>
				OCI<br>
				Terraform (module and provider creations + deployments)<br>
				AWX (the plateform is handled by another team, we just have a few roles/playbooks so there's something to build there)<br>
				Kubernetes (AKS and GKE only. More the infra side than deployments creation)<br>
				Packer<br>
				SUSE Manager<br>
				Patch Management<br>
				Unix RUN and upgrade Activities<br>
				Windows RUN and upgrade Activities<br><br>
			</p>

					<p>
						M365 and SharePoint – Design, Configuration, and Migration<br>
		<br>C#, PowerShell, HTML5/CSS3
		<br>Microsoft Teams App Development
		<br>JavaScript
		<br>Power Platform (PowerBI, PowerApps, PowerAutomate, Power Virtual Agents)
		<br>Power BI reports from cloud/on-premises data
		<br>Dataverse
		<br>Canvas and model-driven apps in PowerApps
		<br>Microsoft Dynamics
		<br>ASP.NET MVC Core 3.1, 5.0
		<br>SQL Server
		<br>Microsoft BOT Framework v4.0
		<br>Microsoft Graph API
		<br>Oversee the implementation and continuous improvement of information systems, data handling, processes/procedures, organisation, and equipment.
<br>
<br>
		<br>VSCode
		<br>docker
		<br>awscli
		<br>python
		<br>bash
		<br>powershell
		<br>ansible
		<br>remmina - I know windows has that rdp app but remmina is just so much better, is there a better rdp app than builtin on windows that's free?
		<br>node
		<br>zsh with powerlevel10k
		<br>postman
		<br>mtr
		<br>nmap
		<br>node, git, docker, kubernetes, ansible, AWS etc
<br>
		<br>Calvindd2f/WSL2-Linux-Kernel
		<br>Calvindd2f/kernel_xiaomi_lavender_4.19
		<br>Calvindd2f/Documentation - rename old repository, create Kekhunter for Android10, create Kekhunter for Android11
		<br>AOSP Releases of DerpFest for Android10/11 for lavender.
		<br>Custom kernel modifications for Nethunter on OnePlus 7t
		<p/>
		</Page>
	</Base>
</Base>
