---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
//import Layout from '../layouts/premigration_BlogPost.astro';
---

<Base meta_title="Resume" ,meta_description="Website copy of my CV.">
		<br title="CV">
			<p>
				Some of more unessessary information redacted/witheld. Can be request full copy on LinkedIn.
			</p>
			<br>
		</br>
		<p>
			Skills:<br><br>
			Git(git usage and commands)<br>
			Azure DevOps (configuration and Admin)<br>
			<br>
			PowerShell (create , manage and maintain)<br>
			C# / Python (Jinja,Mojo) , few other development languages.<br>
			Zig (as drop in compiler)<br>
			Golang (insofaras creating custom Terraform providers.)<br>
			Ansible Playbook & role development<br>
			Terraform (Infrastructure as code)-pipeline creation and maintenance of pipeline<br>
			YAML (creating and updating scripts, ansible, previous management of an RPA solution which utilized a DSL for IT automation.)<br>
			SonarQube (configuration and integration) (Datacenter Edition)<br>
			Docker / General Containerization<br>
		</p>
		<br><br>
		<p>
			Significant experience with Azure and AWS.
			<br><br>
			Develop and implement: Collaborate with cross-functional teams to design, implement, and maintain a robust DevOps framework that promotes continuous integration, delivery, and deployment.
			<br><br>
			Infrastructure management: Design, build, and manage the infrastructure and configuration management systems required for efficient software development and deployment, including cloud platforms, servers, networks, and monitoring tools.<br><br>

			Continuous integration and deployment: Establish and maintain automated build, test, and deployment processes to ensure efficient and reliable software releases.<br><br>

			Collaboration and communication: Foster collaboration and effective communication between development, operations, and other stakeholders to ensure smooth and efficient software delivery.<br><br>

			Security and compliance: Implement and maintain security measures and best practices throughout the development and deployment process, ensuring compliance with relevant regulations and industry standards.<br><br>

			Automation and optimization: Identify opportunities for automation and process improvements, and implement tools and technologies to streamline operations, enhance productivity, and reduce manual efforts.<br><br>

			Documentation and knowledge sharing: Create and maintain documentation, guidelines, and standard operating procedures (SOPs) to ensure proper knowledge transfer.<br><br>

			Cloud experience: Hands-on experience with cloud platforms (e.g., AWS & Openstack ) and a solid understanding of cloud-based architectures, services, and deployment models.<br>

			System administration: Familiar with Linux/Windows Operating systems and the likes of shell scripting<br><br>
			Problem-solving and analytical skills: Ability to analyse complex technical problems, identify root causes, and propose effective solutions in a timely manner.<br><br>

			Collaboration and communication: Strong teamwork and communication skills to collaborate effectively with cross-functional teams, stakeholders, and clients.
		</p>
		</Page>
	</Base>
</Base>
