---
import Base from '@layouts/Base.astro';
import FormBuilderComponent from '../components/FormBuilder';
---

<Base title="Form Builder">
  <main>
    <h1>Form Builder</h1>
    <FormBuilderComponent client:load />
  </main>
</Base>