---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Calvins Blog" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Visitor!</h1>
			<p>
				Welcome to the my Tech Blog which is built with Astro, Blog posts in Markdown (via Obsidian) and also a personal website to track projects findings over time. My CV/Resume , Certifications and thoughts on them along with more are here.
				<br>
				<br>
				<br>
				About details some surface level information. Then delves into more specifics of how I got into specific aspects of technology
				<br>
				<br>
				Career just contains my CV/Resume , projects that are fully mapped out, certificates I've obtained to validate capabilities.
				<br>
				<br>
				Might create KB for encountered issues or edge cases to reference later.
				<br>
				If you are here only because of the domain, you can discuss this with me at c@lvin.ie.
				<br>
			</p>
			<p>If you are trying to find a specific post or some snippet of code, anything discussed is nearly also sourced and located on my GitHub.</p>
		</main>
		<Footer />
	</body>
</html>
